@tailwind base;
@tailwind components;
@tailwind utilities;

// Configurer le conteneur principal `body` pour le snapping vertical
body {
  @apply mx-16 bg-gradient-to-b from-black to-blue-950;
  // Dégradé de fond
}

html {
  @apply scroll-smooth;
  // Activer le scrolling fluide
}

// Style de chaque page
.page {
  @apply h-screen grid grid-cols-12 grid-rows-6 gap-6 py-8;
  // Layout et hauteur pleine
}

// Style pour chaque cellule `.cell`
.cell {
  @apply transition duration-[1000ms] ease-in-out h-full opacity-80 border border-gray-700 w-full rounded-2xl bg-gray-800;
  // Styles de base
}

.link {
  @apply text-white hover:text-indigo-400 transition duration-300;
  // Style des liens
}

.cell:hover {
  @apply shadow-2xl shadow-indigo-900 ;
  // Animation au survol
}

.scroll-l {
  animation: scroll-from-left 1s ease-out;
}

.scroll-r {
  animation: scroll-from-right 1s ease-out;
}

@keyframes scroll-from-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scroll-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
